Source: askap-cp-monicapoints
Section: unknown
Priority: extra
Maintainer: Malte Marquarding <Malte.Marquarding@csiro.au>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://pm.atnf.csiro.au/askap

Package: askap-cp-monica
Architecture: any
Depends: askap-monica-server
Description: Debian binary package wrapper for askap-cp-monica
