#
# This template file is defined for standalone scripts/modules
# that do not live in the askap namespace.  It is expected that
# these packages would only exist in Code/Systems/<system>
#
# These are simple scripts and modules NOT python packages.
# For the distinction, the "Distributing Python Modules" manual
# under Section 1.3 "General Python terminology" (pp.3 in Release 2.5.3).
# This is part of the normal Python documentation.

from askapdev.rbuild import setup
from askapdev.rbuild.dependencies import Dependency

dep = Dependency()
dep.add_package()

setup(name             = '@@@module@@@',
      version          = 'current',
      description      = '@@@description@@@',
      author           = '@@@author@@@',
      author_email     = '@@@email@@@',
      url              = 'http://svn.atnf.csiro.au/askap',
      keywords         = ['ASKAP', @@@keywords@@@],
      long_description = '''@@@long_description@@@''',
      license          = 'GPL',
      zip_safe         = False,
      dependency       = dep,
      package_dir      = {'': 'modules'},
      #
      # Uncomment and edit the '###' lines as required.
      # Scripts will be installed in bin.
      ###scripts          = ["scripts/myapp.py",],
      # List any shared modules that the scripts wish to use here.
      # The names here must match files in modules subdirectory with
      # '.py' extension.
      ### py_modules       = ["common",]
      # Uncomment if using unit tests
      ###test_suite = "nose.collector",
     )
