Source: askap-logappenders-base
Section: unknown
Priority: extra
Maintainer: Malte Marquarding <Malte.Marquarding@csiro.au>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://pm.atnf.csiro.au/askap

Package: askap-logappenders-base
Architecture: any
Depends: askap-init, ${AskapDependencies}
Description: Debian binary package wrapper for askap-logappenders-base
