.. askap.@@@py_component@@@.@@@py_package@@@ documentation master file, created by
   create_pypkg
   You can adapt this file completely to your liking, but it should at least
   contain the root `toctree` directive.

Welcome to askap.@@@py_component@@@.@@@py_package@@@'s documentation!
=============================================

.. automodule:: askap.@@@py_component@@@.@@@py_package@@@
    :members:
    :undoc-members:

.. toctree::
   :maxdepth: 1

Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
