# @file
# Template package.info file.
#
# Your package may not need a package.info file if it follows the standard
# layout.  This file lists the possible parameters and their default values.
# The information in this file is processed by the dependency analysis.
# See Tools/Dev/recursivebuild/recursivebuild/dependencies.py.

# The following define a single directory name.
#distdir=dist       # Containing python egg.
#incdir=include     # Containing include files.
#libdir=lib         # Containing libraries.

# The following are space separated lists.
#defs=None          # C++ compiler flags.
#libs=None          # Can specify subset of all libs in libdir or None => all.

# The following defines a single python module name and version.
# e.g. pymodule=numpy==1.2.0
# This can be used in the require statement.
#pymodule=None

jars=@@@project-name@@@.jar
